ASP.NET/01 - ASP.NET/WebApplication/WebApplication/Service References/ServiceReference1/MyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IMyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSDualHttpBinding_IMyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IMyService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/MyService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/MyService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyService_PopulateData_InputMessage">
    <wsdl:part name="parameters" element="tns:PopulateData" />
  </wsdl:message>
  <wsdl:message name="IMyService_PopulateData_OutputMessage">
    <wsdl:part name="parameters" element="tns:PopulateDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetStockValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStockValue" />
  </wsdl:message>
  <wsdl:message name="IMyService_GetStockValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStockValueResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyService">
    <wsdl:operation name="PopulateData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/PopulateData" message="tns:IMyService_PopulateData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/PopulateDataResponse" message="tns:IMyService_PopulateData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStockValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyService/GetStockValue" message="tns:IMyService_GetStockValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyService/GetStockValueResponse" message="tns:IMyService_GetStockValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IMyService" type="tns:IMyService">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IMyService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="PopulateData">
      <soap12:operation soapAction="http://tempuri.org/IMyService/PopulateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockValue">
      <soap12:operation soapAction="http://tempuri.org/IMyService/GetStockValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSDualHttpBinding_IMyService" type="tns:IMyService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IMyService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateData">
      <soap12:operation soapAction="http://tempuri.org/IMyService/PopulateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockValue">
      <soap12:operation soapAction="http://tempuri.org/IMyService/GetStockValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IMyService" type="tns:IMyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PopulateData">
      <soap:operation soapAction="http://tempuri.org/IMyService/PopulateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockValue">
      <soap:operation soapAction="http://tempuri.org/IMyService/GetStockValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IMyService" type="tns:IMyService">
    <wsp:PolicyReference URI="#NetTcpBinding_IMyService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="PopulateData">
      <soap12:operation soapAction="http://tempuri.org/IMyService/PopulateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStockValue">
      <soap12:operation soapAction="http://tempuri.org/IMyService/GetStockValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyService">
    <wsdl:port name="NetNamedPipeBinding_IMyService" binding="tns:NetNamedPipeBinding_IMyService">
      <soap12:address location="net.pipe://localhost/MyService/pipe" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/MyService/pipe</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSDualHttpBinding_IMyService" binding="tns:WSDualHttpBinding_IMyService">
      <soap12:address location="http://localhost:8000/MyService/dual" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8000/MyService/dual</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IMyService" binding="tns:BasicHttpBinding_IMyService">
      <soap:address location="http://localhost:8000/MyService/basic" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IMyService" binding="tns:NetTcpBinding_IMyService">
      <soap12:address location="net.tcp://localhost:8002/MyService/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8002/MyService/tcp</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>